<!-- Vi användar base.html sum grundmall och fyller på som vi önskar -->
{% extends "base.html" %}
{% block title %}Startsida{% endblock %}

<!-- centrerar rubriken: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_styles_text-align -->
{% block header %}<h2 style="text-align:center;">ElprisOptimeraren</h2>{% endblock %}

{% block content %}
</br>
<p style="text-align:center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eligendi in assumenda, modi eum vero facere? Similique quas eligendi excepturi optio expedita possimus earum et at libero! Quisquam, saepe neque aliquid tempora distinctio voluptate culpa nulla doloribus placeat cumque labore odit vero, cum et dolores recusandae laborum explicabo accusamus ea est veritatis sit enim vitae! Voluptatibus atque expedita error enim vero mollitia alias veritatis necessitatibus ducimus, dolorem dicta quae recusandae tenetur laudantium ea ipsum eius sed. Quaerat eos aliquam ullam repudiandae debitis nisi ea necessitatibus voluptas at optio aspernatur blanditiis incidunt, nobis, eligendi, quis minus. Aspernatur vitae iure maxime eum?</p>
{% endblock %}

{% block footer %}{% endblock %}